/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Upload Payment Proofs Image Ignore
/public/upload/payment_proofs/*.png
/public/upload/payment_proofs/*.jpg
/public/upload/payment_proofs/*.jpeg

# Upload Proofs Image Ignore
/public/upload/proofs/*.png
/public/upload/proofs/*.jpg
/public/upload/proofs/*.jpeg

# Upload User Profiles Image Ignore
/public/upload/user_profiles/*.png
/public/upload/user_profiles/*.jpg
/public/upload/user_profiles/*.jpeg